@font-face {
    font-family: "BonaNova";
    src: url("fonts/BonaNova-Regular.otf");
}

@font-face {
    font-family: "BonaNova";
    src: url("fonts/BonaNova-Bold.otf");
    font-weight: bold;
}

body {
    margin: 2em;
    auto;
    max-width: 47em;
    font-size: 120%;
    line-height: 1.6;
    color: #000000;
    padding: 0 10px;
    font-family: BonaNova, serif;
}

b {
}

h1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 6em;
    font-weight: bold;
    line-height: 1.2;
    color: #5E0703;
}

a {
    color: #5E0703;
}

hr {
    display: block;
    height: 0.5px;
    width: 75%;
    border: 0;
    border-top: 1px solid #5E0703;
    margin: 1em 0;
    padding: 0; 
}
