{{ define "main" }}
<main>
  <article>
    <h1>{{ .Title }}</h1>
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "02 January 2006" }}</time>
    <div>
      {{ .Content }}
    </div>
    <div id="tags">
	{{ range $k, $v := .GetTerms "tags" }}
        {{- if $k }} · {{ end }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag">{{ .Name }}</a>
	{{- end }}
    </div>
    {{ with .Site.DisqusShortname }}
    <div>
      {{ template "_internal/disqus.html" . }}
    </div>
    {{ end }}
  </article>
</main>
{{ partial "sidebar.html" . }}
{{ end }}
