{{ define "main" }}
<main>
  <article>
    <h1>{{ .Title }}</h1>
    {{ if not .Date.IsZero }}  
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "2 January 2006" }}</time>
    {{ else if .Draft }}
    <div>NO TIME SET</div>
    {{ end }}
    <div>
      {{ .Content }}
    </div>
    <div id="tags">
	{{ range $k, $v := .GetTerms "tags" }}
        {{- if $k }} · {{ end }}
        <a href="{{ . | urlize }}" class="tag">{{ .Name }}</a>
	{{- end }}
    </div>
    {{ with .Site.Config.Services.Disqus.Shortname }}
    <div>
      {{ template "_internal/disqus.html" . }}
    </div>
    {{ end }}
  </article>
</main>
{{ partial "sidebar.html" . }}
{{ end }}
